<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/mvc 
http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:property-placeholder location="classpath:resources/database.properties" />
	
	<context:component-scan base-package="org.erp.tarak.main" />
	<context:component-scan base-package="org.erp.tarak.tools" />
	<context:component-scan base-package="org.erp.tarak.user" />
	<context:component-scan base-package="org.erp.tarak.reports" />
	<context:component-scan base-package="org.erp.tarak.balanceSheet" />
	<context:component-scan base-package="org.erp.tarak.expense" />
	
	<context:component-scan base-package="org.erp.tarak.rawMaterial" />
	<context:component-scan base-package="org.erp.tarak.product" />
	<context:component-scan base-package="org.erp.tarak.category" />
	<context:component-scan base-package="org.erp.tarak.measurement" />
	<context:component-scan base-package="org.erp.tarak.variant" />
	<context:component-scan base-package="org.erp.tarak.variantProperties" />
	<context:component-scan base-package="org.erp.tarak.subVariantProperties" />
	<context:component-scan base-package="org.erp.tarak.stage" />
	<context:component-scan base-package="org.erp.tarak.stageProperties" />
	
	<context:component-scan base-package="org.erp.tarak.salesorder" />
	<context:component-scan base-package="org.erp.tarak.deliverychallan" />
	<context:component-scan base-package="org.erp.tarak.salesinvoice" />
	<context:component-scan base-package="org.erp.tarak.salesreturn" />
	<context:component-scan base-package="org.erp.tarak.salesPayment" />
	<context:component-scan base-package="org.erp.tarak.otherPayment" />
	
	<context:component-scan base-package="org.erp.tarak.productionorder" />
	<context:component-scan base-package="org.erp.tarak.productioninvoice" />
	<context:component-scan base-package="org.erp.tarak.purchaseorder" />
	<context:component-scan base-package="org.erp.tarak.purchaseinvoice" />
	<context:component-scan base-package="org.erp.tarak.purchasereturn" />
	<context:component-scan base-package="org.erp.tarak.purchasePayment" />
	
	<context:component-scan base-package="org.erp.tarak.supplier" />
	<context:component-scan base-package="org.erp.tarak.supplier.openingbalance" />
	<context:component-scan base-package="org.erp.tarak.customer" />
	<context:component-scan base-package="org.erp.tarak.customer.openingbalance" />	
	<context:component-scan base-package="org.erp.tarak.shipper" />
	<context:component-scan base-package="org.erp.tarak.shipper.openingbalance" />
	<context:component-scan base-package="org.erp.tarak.worker" />
	<context:component-scan base-package="org.erp.tarak.worker.openingbalance" />
	
		
	<context:component-scan base-package="org.erp.tarak.company" />
	<context:component-scan base-package="org.erp.tarak.contactperson" />
	<context:component-scan base-package="org.erp.tarak.bankaccount" />
	<context:component-scan base-package="org.erp.tarak.address" />
	
	<context:component-scan base-package="org.erp.tarak.productioninvoice" />
	<context:component-scan base-package="org.erp.tarak.productionorder" />
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>org.erp.tarak.user.User</value>
				<value>org.erp.tarak.company.Company</value>
				<value>org.erp.tarak.balanceSheet.BalanceSheet</value>
				<value>org.erp.tarak.balanceSheet.BalanceSheetItem</value>
				<value>org.erp.tarak.expense.Expense</value>
				
				<value>org.erp.tarak.salesorder.SalesOrder</value>
				<value>org.erp.tarak.salesorder.SalesOrderItem</value>
				<value>org.erp.tarak.deliverychallan.DeliveryChallan</value>
				<value>org.erp.tarak.deliverychallan.DeliveryChallanItem</value>
				<value>org.erp.tarak.salesinvoice.SalesInvoice</value>
				<value>org.erp.tarak.salesinvoice.SalesInvoiceItem</value>
				<value>org.erp.tarak.salesreturn.SalesReturn</value>
				<value>org.erp.tarak.salesreturn.SalesReturnItem</value>
				<value>org.erp.tarak.salesPayment.SalesPayment</value>
				<value>org.erp.tarak.salesPayment.SalesPaymentItem</value>
				<value>org.erp.tarak.otherPayment.OtherPayment</value>
				<value>org.erp.tarak.otherPayment.OtherPaymentItem</value>

				<value>org.erp.tarak.productionorder.ProductionOrder</value>
				<value>org.erp.tarak.productionorder.ProductionOrderItem</value>
				<value>org.erp.tarak.productioninvoice.ProductionInvoice</value>
				<value>org.erp.tarak.productioninvoice.ProductionInvoiceItem</value>
				<value>org.erp.tarak.purchaseorder.PurchaseOrder</value>
				<value>org.erp.tarak.purchaseorder.PurchaseOrderItem</value>
				<value>org.erp.tarak.purchaseinvoice.PurchaseInvoice</value>
				<value>org.erp.tarak.purchaseinvoice.PurchaseInvoiceItem</value>
				<value>org.erp.tarak.purchasereturn.PurchaseReturn</value>
				<value>org.erp.tarak.purchasereturn.PurchaseReturnItem</value>
				<value>org.erp.tarak.purchasePayment.PurchasePayment</value>
				<value>org.erp.tarak.purchasePayment.PurchasePaymentItem</value>
				
				<value>org.erp.tarak.address.Address</value>
				<value>org.erp.tarak.bankaccount.BankAccount</value>
				<value>org.erp.tarak.contactperson.ContactPerson</value>
				<value>org.erp.tarak.supplier.Supplier</value>
				<value>org.erp.tarak.supplier.openingbalance.SupplierOpeningBalance</value>
				<value>org.erp.tarak.customer.Customer</value>
				<value>org.erp.tarak.customer.openingbalance.CustomerOpeningBalance</value>
				<value>org.erp.tarak.shipper.Shipper</value>
				<value>org.erp.tarak.shipper.openingbalance.ShipperOpeningBalance</value>
				<value>org.erp.tarak.worker.Worker</value>
				<value>org.erp.tarak.worker.openingbalance.WorkerOpeningBalance</value>
				
				<value>org.erp.tarak.product.Product</value>
				<value>org.erp.tarak.rawMaterial.RawMaterial</value>
				<value>org.erp.tarak.variant.Variant</value>
				<value>org.erp.tarak.category.Category</value>
				<value>org.erp.tarak.measurement.Measurement</value>
				<value>org.erp.tarak.stage.Stage</value>
				<value>org.erp.tarak.stageProperties.StageProperties</value>
				<value>org.erp.tarak.variantProperties.VariantProperties</value>
				<value>org.erp.tarak.subVariantProperties.SubVariantProperties</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
			</props>
		</property>
	</bean>
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${database.driver}" />
		<property name="url" value="${database.url}" />
		<property name="username" value="${database.user}" />
		<property name="password" value="${database.password}" />
	</bean>
	<bean id="hibernateTransactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>